<h2>Account Administration</h2>
<ul>
    <!--
    <li class="block border-2 border-black w-100%"
    >Current Profile</li>
    <li>
        <ul>
            <li>
                {{currentProfileName | async}}
            </li>
        </ul>
    </li>
    -->
    <li>Enrolled Profiles</li>
    <li>
        <ul class="grid grid-cols-2">
            <ng-container *ngFor="let profile of (profiles | async)">
                <li class="pr-4">
                    <span [ngClass]="{'font-bold': profile.selected}">
                        {{profile.name}}
                    </span>
                    <span *ngIf="profile.selected" 
                        class="text-gray-500">
                        - Current Profile
                    </span>
                </li>
                <li class="pb-2">
                    <!-- todo add text and make them look more like buttons -->
                    <button (click)="onSelectProfile(profile.id)"
                        [disabled]="profile.selected"
                        [ngClass]="{'bg-blue-500 hover:bg-blue-200': !profile.selected, 'bg-gray-600 cursor-not-allowed': profile.selected}"
                        class="px-2 rounded-tl-md rounded-bl-md border-black border border-r-0">
                        <i class="bi bi-check-circle-fill"></i>
                    </button>
                    <button (click)="onDeleteUserProfile(profile.id)"
                        [disabled]="profile.selected"
                        [ngClass]="{'bg-blue-500 hover:bg-blue-200': !profile.selected, 'bg-gray-600 cursor-not-allowed': profile.selected}"
                        class="px-2 rounded-tr-md rounded-br-md border-black border border-l-0">
                        <i class="bi bi-trash3-fill"></i>
                    </button>
                </li>
            </ng-container>
        </ul>
    </li>
    <li class="pt-5 pb-2">
        <input type="text" placeholder="New Profile Name" class="input" [(ngModel)]="profileName"/>
    </li>
    <li>
        <button class="hover:bg-blue-200 bg-blue-300 px-2 cursor-pointer rounded-lg border border-black"  (click)="onAddProfile()">
            Add a profile
        </button>
    </li>
    <li>
        Profile Invitations
    </li>
    <li>
        <ul class="grid grid-cols-2">
            <!-- TOOD update this to invitations-->
            <ng-container *ngFor="let profile of (profileInvitations | async)">
                <li class="pr-4">
                    <span>
                        {{profile.name}}
                    </span>
                </li>
                <li class="pb-2">
                    <!-- todo add text and make them look more like buttons -->
                    <button (click)="onAcceptProfileInvitation(profile.id)"
                        class="px-2 rounded-tl-md rounded-bl-md border-black border border-r-0 bg-blue-500 hover:bg-blue-200">
                        <i class="bi bi-plus-circle-fill"></i>
                    </button>
                    <button (click)="onRejectProfileInvitation(profile.id)"
                        class="px-2 rounded-tr-md rounded-br-md border-black border border-l-0 bg-blue-500 hover:bg-blue-200">
                        <i class="bi bi-x-circle-fill"></i>
                    </button>
                </li>
            </ng-container>
        </ul>
    </li>
</ul>
