<div class="px-10">
    <button (click)="showMenu = !showMenu" class="relative">
        <img src="{{(user | async)?.photoURL}}" height="32" width="32" class="rounded-full"/>
        <!-- NOTE: This "!" is for non-null assertion. Not sure why typescript is thinking it could be null -->
        <span *ngIf="(notificationCount | async) ?? 0 > 0"
            class="bg-red-500 rounded-full border border-white h-3 w-3 absolute top-0 -right-0.5"></span>
    </button>
</div>
<div *ngIf="showMenu" class="absolute right-0 border border-black bg-white text-red-600 mx-5 w-[200px]">
    <ul class="list-none">
        <li class="hover:bg-blue-300">

            <a [routerLink]="['/user',(user | async)?.uid]" (click)="showMenu = false">
                <div class="p-2">
                    <span>{{(user | async)?.displayName}}</span>
                    <span *ngIf="(notificationCount | async) ?? 0 > 0"
                        class="rounded-md bg-red-500 text-white ml-3 px-2.5 py-1"
                        >{{(notificationCount | async) ?? 0}}</span>
                </div>
            </a>
        </li>
        <hr class="width-full">
        <li class="hover:bg-blue-300">
            <a (click)="logout()" class="cursor-pointer">
                <div class="p-2">
                    Logout
                </div>
            </a>
        </li>
    </ul>
</div>
