<svg class="fill-red-300 mx-auto" 
    [attr.width]="width" [attr.height]="height"
    [style.height]="height"
    [style.width]="width"
>
    <g transform="translate(100,50)">

        <rect *ngIf="!useHeart" class="stroke-red-600" x="0" y="0" [attr.width]="width" [attr.height]="height" />
        <path id="heart-icon" *ngIf="useHeart" transform="scale(3)"
            d="m0,0
               c10,-27 60,0 0,40
               c-60,-40 -10,-67 0,-40
               z"
        />                    
        <circle *ngFor="let pos of positions" class="fill-none stroke-black" [attr.r]="pos.radius" [attr.cx]="pos.x" [attr.cy]="pos.y" />
    </g>
</svg>